body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/spotlightuk/image/fetch/w_1536,c_limit/https://spotlight-cmsmedia.s3-eu-west-1.amazonaws.com/media/1927/shutterstock_646910404.jpg');
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {list-style: none}

li {list-style: none}

textarea {
  width: 20rem;
  height: 10rem
}

.signUpForm {
  text-align: center;
  display: center;
}

.home {
  text-align: center;
  display: center;
}

.login {
  text-align: center;
  display: center;
}

.homeButtons {
  margin-left: 1rem;
}

#addComedian {
  text-align: center;
  text-decoration: underline;
}

#addComedian:hover {
  color: orange;
}

#loading {
  text-align: center;
}

.unauthorized{
  text-align: center;
}

.logoutButton{
  position: fixed;
  right: 0.5rem;
  top: 1rem;
}

.nav {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((90vw - 6.25rem) / 2);
}

a:visited {
  text-decoration: none; 
  color: white;  
}

.comedianLis:hover {
  color: orange;
}

.comedianLis {
  text-decoration: underline;
}

button:hover{
  background-color: orange;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}